<footer>
    <div fxFlex fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center center"
         class.xs="footer-xs">
        <div fxFlex="33">
            <span>{{ 'angularExampleApp' | translate }} 2018</span>
        </div>
        <div fxFlex="33" class="text-center">
            <sample-component [locale]="currentLang"></sample-component>
        </div>
        <div fxFlex class="text-right" class.xs="footer-xs">
            <a href="https://romaniatesting.ro/" target="_blank"><img src="assets/images/rtc-logo.png"></a>
        </div>
    </div>
</footer>
