<header>
  <nav>
    <a id="rtc" href="https://romaniatesting.ro/" target="_blank"><img src="assets/images/rtc-logo.png"></a>
    <a id="home" mat-button routerLink="/">HOME</a>
    <a id="heroes-list" mat-button routerLink="/heroes">HEROES LIST</a>

    <span class="fill-space"></span>

    <mat-form-field>
      <input id="search-box" type="text" placeholder="Find a hero" matInput [formControl]="heroFormControl"
             [matAutocomplete]="heroes">
    </mat-form-field>

    <mat-autocomplete #heroes="matAutocomplete">
      <mat-option *ngFor="let hero of filteredHeroes"
                  (onSelectionChange)="searchHero(hero)"
                  [value]="hero.name">
        {{hero.name}}
      </mat-option>
    </mat-autocomplete>
  </nav>
</header>
