<div fxLayout="row">
    <div fxFlex="10" fxFlex.gt-sm="10"></div>
    <div fxFlex="90" fxFlex.gt-sm="100">
        <h1 class="section-title">{{'topHeroes' | translate}}</h1>
        <mat-progress-spinner *ngIf="!heroes"
                              class="progress-spinner"
                              [color]="'primary'"
                              [mode]="'indeterminate'">
        </mat-progress-spinner>
        <div id="heroes-list" *ngIf="heroes">
            <mat-grid-list cols="4" rowHeight="4:3  " gutterSize="15">
                <mat-grid-tile *ngFor="let hero of heroes">
                    <mat-grid-tile-footer>
                        <div mat-card-avatar class="hero-header-image"
                             [ngStyle]="{'background-image': 'url(assets/images/heroes/' + hero.id + '-thumbnail.jpg)'}"></div>
                        <mat-card-title>{{hero.name}}</mat-card-title>
                        <div class="flex-spacer"></div>
                        <div class="hero-actions">
                            {{hero.likes}}
                            <mat-icon matTooltip="{{(canVote ? 'canVote' : 'cannotVote') | translate}}"
                                      [matTooltipPosition]="'above'"
                                      class="like-icon" (click)="like(hero)">favorite
                            </mat-icon>
                        </div>
                    </mat-grid-tile-footer>
                    <img src="assets/images/heroes/{{hero.id}}.jpg" class="hero-card">
                </mat-grid-tile>
            </mat-grid-list>
        </div>
    </div>
    <div fxFlex="10" fxFlex.gt-sm="10"></div>
</div>
